<div class="about">

  <div class="background">
    <div class="content text-center">
      <h1 style="color:steelblue; font-family: Satisfy"> Book Lovers </h1>
      <br>
      <br>
      <h2 style="color:white; font-family: Satisfy"> "Satisfy your hunger for knowledge through our literary collection"<h2>
    </div>
  </div>

  <div class="background2 text-center">
    <div class="our_story">
      <br>
      <h1 style="color:steelblue; font-family: Satisfy"> Our Story <h1>
        <hr class="short-underline">
        <h3> We are an independent online store, dedicated to bringing a large selection of international bestsellers, new releases, beloved classics, comics and other collectibles. We also carry an impressive selection of maps, stationeries, puzzles, games, audiobooks and gifts for all ages!  <h3>
<br>
    </div>
  </div>

  <div class="background3 text-center">
    <div class="our_promise">
      <br>
      <h1 style="color:steelblue; font-family: Satisfy"> Our Promise <h1>
        <hr class="short-underline">
        <h3> This is why you should always pick us:  <h3>
    </div>
  </div>

  <section class="Icon-container">
    <div class="Icons text-center">
      <div class="Icon_ind">
        <%= fa_icon "shopping-cart 2x" %>
        <h4>Simple checkout</h4>
      </div>

      <div class="Icon_ind">
        <%= fa_icon "usd 2x" %>
        <h4>Unbeatable price</h4>
      </div>

      <div class="Icon_ind">
        <%= fa_icon "truck 2x" %>
        <h4>Fast delivery</h4>
      </div>

      <div class="Icon_ind">
        <%= fa_icon "check-square-o 2x" %>
        <h4>Full refund if unsatisfied</h4>
      </div>
  </div>
</div>
