<div class="about">

  <div class="background">
    <div class="content text-center">
      <h1 style="color:steelblue; font-family: Satisfy"> Book Lovers </h1>
      <br>
      <br>
      <h2 style="color:white; font-family: Satisfy"> "Satisfy your hunger for knowledge through our literary collection"<h2>
    </div>
  </div>

  <div class="About_Us text-center">
    <div class="Our_story">
      <br>
      <h1 style="color:steelblue; font-family: Satisfy"> Our Story <h1>
        <hr class="short-underline">
        <br>
        <h3> We are an independent online store, dedicated to bringing a large selection of international bestsellers, new releases, beloved classics, comics and other collectibles. We also carry an impressive selection of maps, stationeries, puzzles, games, audiobooks and gifts for all ages!  <h3>
    </div>
  </div>

</div>
