<div class="about">

  <div class="background">
    <div class="content text-center">
      <h1> Book Lovers </h1>
      <br>
      <br>
      <h3> "Satisfy your hunger for knowledge through our literary collection"<h3>
    </div>
  </div>

  <!-- <div class="About_Team text-center">
    <div class="Team_info">
      <br>
      <h1> About the Team <h1>
        <hr class="short-underline">
        <br>
        <h3> We are a cheeky, fun and adventurous bunch who are constantly looking for new ways to improve the lives of others. We eat, sleep and play - just like any other homosapiens - and try to have as much fun doing what we do. <h3>
    </div>
  </div>

  <div class="About_Site text-center">
    <div class="Site_info">
      <br>
      <br>
      <h1> This Site is for YOU if: <h1>
        <hr class="short-underline">
    </div>
  </div>

  <section class="Icon-container">
  <div class="Icon_big text-center">
      <div class="Icon_ind">
        <%= fa_icon "diamond 2x" %>
        <h4>You are a Ruby-ian</h4>
      </div>
      <div class="Icon_ind">
        <%= fa_icon "lightbulb-o 2x" %>
        <h4>You need inspiration</h4>
      </div>
      <div class="Icon_ind">
        <%= link_to fa_icon("users 2x"), "https://www.facebook.com", target: "blank:" %>
        <h4>You want to connect with other Ruby-ians</h4>
      </div>
      <div class="Icon_ind">
        <%= fa_icon "reddit-alien 2x" %>
        <h4>You like to read random stuff</h4>
      </div>
  </div> -->


</div>
